<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">Sistema</div>
                <a class="nav-link" routerLink="/home"
                    ><div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Home</a
                >
                <div class="sb-sidenav-menu-heading">Cadastros</div>
                <a class="nav-link collapsed" data-toggle="collapse" data-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts"
                    ><div class="sb-nav-link-icon"><i class="fa fa-address-card"></i></div>
                    Clientes
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div
                ></a>
                <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" routerLink="/clientes">Listar Clientes</a>
                        <a class="nav-link" routerLink="/clientes-cadastro">Cadastrar/Atualizar</a>
                    </nav>
                </div>
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTipoItem" aria-expanded="false" aria-controls="collapseTipoItem"
                    ><div class="sb-nav-link-icon"><i class="fa fa-car-side"></i></div>
                    Tipo Itens
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div
                ></a>
                <div class="collapse" id="collapseTipoItem" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" routerLink="/tipo-item-lista">Listar Tipos</a>
                        <a class="nav-link" routerLink="/tipo-item-cadastro">Cadastrar/Atualizar</a>
                    </nav>
                </div>
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseItem" aria-expanded="false" aria-controls="collapseItem"
                    ><div class="sb-nav-link-icon"><i class="fa fa-car"></i></div>
                    Itens
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div
                ></a>
                <div class="collapse" id="collapseItem" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" routerLink="/item-lista">Listar Itens</a>
                        <a class="nav-link" routerLink="/item-cadastro">Cadastrar/Atualizar</a>
                    </nav>
                </div>
                <div class="sb-sidenav-menu-heading">Movimentos</div>
                <a class="nav-link collapsed" data-toggle="collapse" data-target="#collapseAluguel" aria-expanded="false" aria-controls="collapseAluguel"
                    ><div class="sb-nav-link-icon"><i class="fa fa-taxi"></i></div>
                    Aluguel / Devolução
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div
                ></a>
                <div class="collapse" id="collapseAluguel" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" routerLink="/aluguel-lista">Listar Alugueis</a>
                        <a class="nav-link" routerLink="/aluguel-cadastro">Cadastrar/Atualizar</a>
                    </nav>
                </div>
                <a class="nav-link collapsed" data-toggle="collapse" data-target="#collapseReserva" aria-expanded="false" aria-controls="collapseReserva"
                    ><div class="sb-nav-link-icon"><i class="fa fa-id-card"></i></div>
                    Reservas
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div
                ></a>
                <div class="collapse" id="collapseReserva" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" routerLink="/reserva-lista">Listar Reservas</a>
                        <a class="nav-link" routerLink="/reserva-cadastro">Cadastrar/Atualizar</a>
                    </nav>
                </div>
            </div>
        </div>
        <div class="sb-sidenav-footer">
            <div class="small">Desenvolvimento:</div>
            André Jonas
        </div>
    </nav>
</div>